body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.btn {
  border: transparent;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 60px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --accent-color: #7733ff;
  --title-color: rgba(0, 0, 0, 0.72);
  --btn-color: rgba(255, 255, 255, 0.92);
  --bg-color: rgba(214, 205, 205, 0.562);
  --logo-color: rgba(0, 0, 0, 0.92);
  --link-color: #3378ff;
  --bg-hover: #f6f1ff;
  --after-bg: #c0c0c0;
}

/* -------------------------------------------------------------------------- */

/* --------------------------------- header --------------------------------- */
.header .container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.header-logo {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.25;
  color: var(--logo-color);
  margin-right: 45px;
}

.header-logo span {
  color: var(--accent-color);
}

.header-dev-list {
  display: flex;
  gap: 24px;
  margin-right: 124px;
  align-items: center;
}

.header-dev-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--link-color);
}

.header-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-item {
  position: relative;
}

.header-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: var(--accent-color);
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -15px;
}

.header-link:hover .header-item::after,
.header-link:focus .header-item::after {
  display: none;
}

.header-item:last-of-type::after {
  display: none;
}

.header-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--accent-color);
  position: relative;
  transition: all 400ms linear;
  display: block;
  padding: 10px 25px;
  min-width: 96px;
}

.header-link:hover,
.header-link:focus {
  padding: 10px 25px;
  min-width: 96px;
  display: block;
  background: var(--bg-hover);
  border-radius: 32px;
}

.header-link:hover::after,
.header-link:focus::after {
  content: url("../img/header-link-hover.png");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0px;
}

.icons-wrap {
  display: flex;
  gap: 32px;
  margin-left: auto;
  align-items: center;
}

.soc-list {
  display: flex;
  gap: 16px;
  position: relative;
}

.soc-list::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: var(--after-bg);
  transform: rotate(90deg);
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -22px;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------------- hero ---------------------------------- */
.hero {
  background-color: var(--bg-color);
  position: relative;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.hero-wrap {
  margin-right: 120px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
}

.hero-title {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 43px;
  line-height: 1.5;
  color: var(--title-color);
  max-width: 620px;
}

.hero-title span {
  color: var(--accent-color);
}

.hero-desk {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--title-color);
}

.hero-list {
  display: flex;
  gap: 20px;
}

.hero-btn {
  padding: 12px 47px;
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--btn-color);
  text-transform: uppercase;
}

.transparent-btn {
  background-color: transparent;
  color: var(--accent-color);
  padding: 12px 0;
}

.twi {
  transition: fill 300ms linear;
}

.twi:hover,
.twi:focus {
  fill: var(--link-color);
}

.git {
  transition: fill 300ms linear;
}

.git:hover,
.git:focus {
  fill: var(--title-color);
}

.theme-icon {
  transition: fill 300ms linear;
  fill: rgb(216, 216, 108);
}

.theme-icon:hover,
.theme-icon:focus {
  fill: var(--logo-color);
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- Your sec -------------------------------- */
/* code here */
/* -------------------------------------------------------------------------- */
.skills-list {
  display: flex;
  gap: 35px;
  position: absolute;
  margin-top: -253px;
}

.skills-main {
  height: 200px;
  padding: 32px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
  width: 360px;
}

.skills-svg-link {
  display: block;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: #a199ff;
  margin-bottom: 17px;
}

.heart-link {
  background-color: #ff7dac;
}

.thunder-link {
  background-color: #bff4ff;
}

.skills-icon {
  fill: #ffffff;
}

.star {
  fill: #ffff00;
}

.thunder {
  fill: #5096ff;
}

.skills-link {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.28;
  color: rgba(0, 0, 0, 0.92);
  font-weight: 700;
}

.skills-desk {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(0, 0, 0, 0.82);
}

/* --------------------------------- beauty --------------------------------- */
.beauty-wrap {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beauty {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: rgba(95, 93, 93, 0.683);
}

.beauty span {
  font-weight: 800;
}

.beauty-1 {
  position: relative;
}

.beauty-1::before {
  content: url("../img/beauty.png");
  position: absolute;
  left: -146px;
}

.beauty-2 {
  position: relative;
  padding-left: 340px;
}

.beauty-2::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 4px;
  background-color: rgba(95, 93, 93, 0.683);
  top: 0;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  left: 230px;
}

.beauty-2::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 4px;
  top: 0;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(95, 93, 93, 0.683);
  right: -60px;
}

/* -------------------------------- section3 -------------------------------- */
/* ---------------------------------- clean --------------------------------- */


.clean-title {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.clean-hero {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: #7733ff;
  margin-left: -883px;
}



.clean-main {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.25;
  margin-top: 12px;
  margin-left: -535px;
}

.clean-desk {
  font-weight: 400;
  font-size: 16x;
  line-height: 1.5;
  margin-top: 16px;
  margin-left: -610px;
}

/* ---------------------------------- sec3 ---------------------------------- */
/* --------------------------------- quality -------------------------------- */
.quality-title {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -566px;
}

.quality-main {
  display: flex;
  gap: 35;
  flex-direction: column;
  padding: 32px;
  background: #FFFFFF;
  border: 1px solid #d8d2d2;
  border-radius: 16px;
  width: 482px;
  height: 126px;
  position: relative;
  margin-top: 20px;
}

.quality-high {
  font-size: 16px;
  line-height: height 1.25;
  font-weight: 700;
  color: #7733ff;
  ;
}

.quality-desk {
  font-size: 14px;
  font-weight: 400;
  margin-top: 7.93px;
  margin-bottom: 10px;
  position: relative;
}

/* ---------------------------------- sec4 ---------------------------------- */
.sec-4 {
}
.det-title {
}
.det-main {
}
.det-desk {
}
.det-extra {
}