body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.btn {
  border: transparent;
}
.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --accent-color: #7733ff;
  --title-color: rgba(0, 0, 0, 0.72);
  --btn-color: rgba(255, 255, 255, 0.92);
  --bg-color: rgba(214, 205, 205, 0.562);
}
/* -------------------------------------------------------------------------- */

/* --------------------------------- header --------------------------------- */
/* code here */

/* -------------------------------------------------------------------------- */
/* ---------------------------------- hero ---------------------------------- */
.hero {
  background-color: var(--bg-color);
}
.hero .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.hero-wrap {
  margin-right: 120px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 66px;
  line-height: 1.5;
  color: var(--title-color);
  max-width: 620px;
}
.hero-title span {
  color: var(--accent-color);
}
.hero-desk {
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--title-color);
}
.hero-list {
  display: flex;
  gap: 20px;
}
.hero-btn {
  padding: 12px 47px;
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--btn-color);
  text-transform: uppercase;
}
.transparent-btn {
  background-color: transparent;
  color: var(--accent-color);
  padding: 12px 0;
}
/* -------------------------------------------------------------------------- */
