@media screen and (min-width: 360px;) {.about .multiple-item } {width: 280px;}
@media screen and (min-width: 390px;) {.about .multiple-item } {width: 300px;}
@media screen and (min-width: 430px;) {.about .multiple-item } {width: 310px;}
@media screen and (min-width: 480px;) {.about .multiple-item } {width: 355px;}
@media screen and (min-width: 768px;) {.about .multiple-item } {width: 600px;}

body {max-width: 1200px;}

body {font-family: font-family: 'Plus Jakarta Sans', sans-serif;}
span {color:#7733FF ;}
.bar1 {color:#3378FF;}
.bar2 {color: #7733FF;}

header {font-family: 'Poppins';}


.link {text-decoration: none;}

p,h1,h2,h3,h4,h5,h6 {margin: 0;}

ul {margin: 0;padding-left: 10;}


button {cursor: pointer;}

address {font-style: normal;}

img {display: block;}

.flex {
  display: flex;
  flex-direction: column;
  background-color: #B9BBC2;
}

.flex> div {
  background-color: #B9BBC2;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  background-color: #7733FF; color: white;}

.bt1 {background-color: #7733FF; color: white;}
.sec-1 div {font-family: 'Poppins', sans-serif;}
.sec-1 {background-color: #B9BBC2;}
.sec-1 button:focus {background-color: green;}

img {float: right;}


h3 {font-weight: 400;}
.sec-2 a {color: black;}

.sec-2 li :hover {background-color: aqua;transition: 700ms;}

  .sec-2 {margin-top: 480px;}
  .sec-2 span {font-weight: 700;color: black;}


