.hero {
  background: radial-gradient(
    46.8% 46.8% at 50% 50%,
    rgba(255, 255, 255, 0) 77.6%,
    rgba(255, 255, 255, 0.72) 100%
  );
  background-color: $fckBg;
  position: relative;
}

.hero {
  .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
  }
}
.hero-wrap {
  margin-right: 120px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 43px;
  line-height: 1.5;
  color: $black;
  max-width: 620px;
  span {
    color: $accent;
  }
}
.hero-desk {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  color: $black;
}
.hero-list {
  display: flex;
  gap: 20px;
}
.hero-btn {
  padding: 12px 47px;
  background-color: $accent;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $black;
  text-transform: uppercase;
}
.transparent-btn {
  background-color: transparent;
  color: $black;
  padding: 12px 0;
}
.twi {
  transition: fill 300ms linear;
  &:hover {
    fill: $blue;
  }
  &:focus {
    fill: $blue;
  }
}
.git {
  transition: fill 300ms linear;
  &:hover {
    fill: $title;
  }
  &:focus {
    fill: $title;
  }
}
.theme-icon {
  transition: fill 300ms linear;
  fill: rgb(216, 216, 108);
  &:hover {
    fill: $logo;
  }
  &:focus {
    fill: $logo;
  }
}
.skills-list {
  display: flex;
  gap: 35px;
  position: absolute;
  margin-top: -253px;
}
.skills-main {
  height: 200px;
  padding: 32px;
  background: $white;
  border: 1px solid $border;
  border-radius: 16px;
  width: 360px;
}
.skills-svg-link {
  display: block;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: $purple;
  margin-bottom: 17px;
}
.heart-link {
  background-color: $pink;
}
.thunder-link {
  background-color: $lightBlue;
}
.skills-icon {
  fill: $white;
}
.star {
  fill: $yellow;
}
.thunder {
  fill: $soLightBlue;
}
.skills-link {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.28;
  color: $black;
  font-weight: 700;
}
.skills-desk {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: $black;
}
.beauty-wrap {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beauty {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: $black;
  span {
    font-weight: 800;
  }
}
.beauty-1 {
  position: relative;
  &::before {
    content: url("../img/beauty.png");
    position: absolute;
    left: -146px;
  }
}
.beauty-2 {
  position: relative;
  padding-left: 340px;
  &::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 4px;
    background-color: $beautyBg;
    top: 0;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    left: 230px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 46px;
    height: 4px;
    top: 0;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: $beautyBg;
    right: -60px;
  }
}
.clean-title {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clean-hero {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.25;
  color: $accent;
  margin-left: -883px;
}
.clean-main {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.25;
  margin-top: 12px;
  margin-left: -535px;
}
.clean-desk {
  font-weight: 400;
  font-size: 16x;
  line-height: 1.5;
  margin-top: 16px;
  margin-left: -610px;
}
.quality-title {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -566px;
}
.quality-main {
  display: flex;
  gap: 35;
  flex-direction: column;
  padding: 32px;
  background: $white;
  border: 3px solid $purple;
  border-radius: 24px;
  width: 482px;
  height: 126px;
  position: relative;
  margin-top: 20px;
}
.quality-high {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: $accent;
}
.quality-desk {
  font-size: 14px;
  font-weight: 400;
  margin-top: 7.93px;
  margin-bottom: 10px;
  position: relative;
}
.sec-4 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -566px;
}
.det-title {
  margin-left: -340px;
  margin-top: 10px;
  font-size: 18px;
  color: $pink;
  font-weight: 700;
}
.det-main {
  margin-left: 190px;
  margin-top: 10px;
  font-size: 32px;
  font-weight: 800;
}
.det-desk {
  margin-left: 43px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 16px;
}
.det-extra {
  display: flex;
  flex-direction: row;
  color: $accent;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 16px;
  font-weight: 700;
}
.det-extra-list {
  display: flex;
  flex-direction: row;
  margin-left: -190px;
}
.holder {
  background-color: $bgColorSecond;
}
