$white: #ffffff;
$blue: #3378ff;
$black: rgba(0, 0, 0, 0.72);
$accent: #7733ff;
$title: rgba(0, 0, 0, 0.72);
$btnColor: rgba(255, 255, 255, 0.92);
$bgColor: rgba(214, 205, 205, 0.562);
$logo: rgba(0, 0, 0, 0.92);
$bgHover: #f6f1ff;
$after: #c0c0c0;
$border: #f3f3f3;
$gray: #b9bbc2;
$purple: #a199ff;
$pink: #ff7dac;
$lightBlue: #bff4ff;
$yellow: #ffff00;
$soLightBlue: #5096ff;
$beautyBg: rgba(0, 0, 0, 0.24);
$maybeGray: #b9b0b0;
$bgColorSecond: #f9fcff;
$fckBg: #f1f3f9;
